
body{
  background-color: #E5E5E5;
  font-family: 'Inter';
  font-style: normal;
  padding: 16px;
}

.is--hide{
  display: none;
}

.logo{
  height: 48px;
  width: 32px;
  margin-left: 16px;
  margin-top: 24px;
  position: absolute;
}

/*Seção-iniciar*/
iniciar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-comecar-adicionar{
display: flex;
flex-direction: column;
align-items: center;
cursor: pointer;
}

.btn-comecar{
  height: 105px;
  width: 317px;
  margin-top: 281px;
  border-radius: 24px;
  padding: 24px;
  background-color: #0A3871; 
  color: #FFFFFF;
 margin-bottom: 20px;
}

.btn-adicionar {
  height: 67px;
  width: 293px;
  top: 403px;
  border-radius: 24px;
  padding: 24px;
  border: 1px solid #0A3871;
  color: #0A3871;
}

.copy {
  text-align: center;
  margin-top: 230px;
}

/*Seção adiciona palavra*/
.adicionar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-palavra{
background-color: #E5E5E5;
height: 96px;
width: 343px;
margin-left: 16px;
margin-top: 152px;
font-size: 32px;
font-weight: 400;
line-height: 150%;
color: #0A3871;
font-family: 'Inter';
font-style: normal;
outline: none;
resize: none;
cursor: text;
}

.msg {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  margin-top: 203px;
  margin-bottom: 16px;
  margin-right: 180px;
}

.msg img {
  height: 16px;
  width: 16px;
  color:#495057; 
}

.msg p {
margin-left: 8px;
color: #495057;
}

.btn-salvar-cancelar {
display: flex;
flex-direction: column;
align-items: center;
}

.btn-salvar {
  background-color: #0A3871;
  width: 343px;
  border-radius: 24px;
  height: 67px;
  padding: 24px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter';
  text-align: center;
  margin-bottom: 20px;
}

.btn-cancelar {
  background-color: #FFF;
  width: 343px;
  border-radius: 24px;
  height: 67px;
  padding: 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter';
  text-align: center;
  border: 1px solid #0A3871;
  color: #0A3871 ;
}

/*Seção do game*/
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabuleiro{
  width: 100%;
  text-align: center;
}

.area-jogo {
  width: 454px;
  height: 467px;
  max-width: 1200px;
  max-height: 800px;
  margin-top: 136px;
  
}

.btn-novo-desistir {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  }
  
  .btn-novo {
    height: 67px;
    width: 343px;
    margin-top: 56px;
    border-radius: 24px;
    padding: 24px;
    background-color: #0A3871; 
    color: #FFFFFF;
   margin-bottom: 20px;
  }

.btn-desistir {
    height: 67px;
    width: 343px;
    border-radius: 24px;
    padding: 24px;
    border: 1px solid #0A3871;
    color: #0A3871;
  }
/*desktop*/
  @media (min-width: 1000px){
    .btn-adicionar{
    width: 317px;
    height: 105px;
    }

  .btn-novo-desistir{
    display: flex;
    cursor: pointer;
    align-items: baseline;
    flex-direction: initial;
  }

  .btn-novo{
    cursor: pointer;
  }

  .btn-desistir{
    margin-left: 24px;
    cursor: pointer;
  }

  .btn-salvar-cancelar{
    display: flex;
    cursor: pointer;
    align-items: baseline;
    flex-direction: initial;
  }

  .btn-cancelar{
    margin-left:24px;
    cursor: pointer;
  }

  .msg{
    margin-right: 580px;
  }
  
  .area-jogo {
    width: 1200px;
    height: 700px;
  }

  .area-palavra{
    width: auto;
  }
}